* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pompiere', cursive;
  }
  
  .ecriture{
    font-family: 'Pompiere', cursive;
    color: #2C2624;
  }

  html, body {
    width: 100%;
    height: 100%;
  }

  .p{
    color: #2C2624;
  }
  
  .background {
    background-image: url('images/background.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Nécessaire pour z-index */
    z-index: 1; /* Niveau inférieur */
  }
  
  .container {
    width: 75%;
    height: 80%;
    background-color: #FAEDCD;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2%;
    border : 15px solid #BC6C25;
    text-align: center;
    padding-bottom: 200px;
  }

  .containerLogge {
    width: 75%;
    height: 78%;
    background-color: #FAEDCD;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2%;
    border: 10px solid #BC6C25;
    text-align: center;
    overflow-y: auto;
    scrollbar-width: none;
    position: absolute; /* Nécessaire pour superposition */
    top: 55%; /* Centre verticalement */
    left: 50%; /* Centre horizontalement */
    transform: translate(-50%, -50%); /* Ajuste pour centrer parfaitement */
    z-index: 10; /* Plus élevé que .background */
    margin: auto; /* Centre horizontalement et verticalement */
    scrollbar-width: none;
  }

  .contenu{
    height: 1500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
  }

  .contenuHome{
    height: 1500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    gap: 50px;
  }

  .containerStatsJoueur {
    display: grid;
    width: 100%;
    scrollbar-width: none;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    background-color: #BC6C25;
    gap: 4px;
    border : 8px solid #BC6C25;
  }
  
  .nomStatJoueur {
    grid-column: 1 / span 3;
    background-color: #FDF7E8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 7px;
    text-align: center;
    font-family: 'Pompiere', cursive;
    font-size: 40px;
    color: #2C2624;
    font-weight: bold;
    overflow-y: auto;
    border-bottom : 2px solid #BC6C25;
  }
  
  .uneStatJoueur {
    width: auto;
    height: auto;
    background-color: #FDF7E8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 7px;
    text-align: center;
    font-family: 'Pompiere', cursive;
    font-size: 40px;
    color: #2C2624;
    overflow-y: auto;
  }
  
  .inside-image{
    width: 20vw;
    height: auto;
    padding-bottom: 3vh;
  }

  .inside-vache{
    width: 10vw;
    height: auto;
  }

  .inside-titre {
    width: 15vw;
    height: 10vh;
    margin-top: 1vh;
    margin-left: 1vw;
  }

  .horloge-image {
    width: 10vw;
    height: auto;
    margin-left: -0.5vw;
    margin-bottom: 3%;
    margin-top: 12vh;
  }

  /* IMAGES EN HAUT À GAUCHE */
  .top-left {
    position: absolute;
    top: 2%;
    left: 2%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    z-index: 10;
  }
  
  /* COLONNE EN DESSOUS DES IMAGES GAUCHE */
  .left-column-below {
    position: absolute;
    top: 14%;
    left: 2%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: 10;
  }
  
  /* COLONNE EN HAUT À DROITE */
  .top-right {
    position: absolute;
    top: 2%;
    right: 2%;
    display: flex;
    flex-direction: column; /* Aligne les éléments verticalement */
    align-items: flex-end; /* Aligne les éléments à droite */
    gap: 10px; /* Espace entre les éléments */
    z-index: 10;
  }
  
  .action-butt {
    width: 40%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; /* espace entre image et texte */
    border-radius: 80px;           /* bouton bien arrondi */
    background-color: #DDA15E;     /* fond blanc (ou autre) */
    border: 10px solid #BC6C25;     /* contour foncé */
    color: #FDF7E8;                /* texte foncé */
    font-size: 2vw;
    font-weight: bold;
    padding: 1vw;
    font-family: 'Pompiere', cursive;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: -8vh;
  }

  .action-butt:hover {
    background-color: #BC6C25;
    border: 10px solid #DDA15E;
    color: #DDA15E;   
  }

  .logogithub {
    width: 10%;
    height: auto; 
  }

  /* BOUTON STYLE */
  .action-buttLogge{
    width: 9vw;
    height: 5.5vh;
    border-radius: 2vw;
    background-color: #DDA15E;
    border: 0.5vw solid #BC6C25;
    color: #FDF7E8;
    font-family: 'Pompiere', cursive;
    font-weight: 900;
    font-size: 1.5vw;
    margin-left: -0.3vw;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .action-buttLogge:hover{
    background-color: #BC6C25;
    border: 0.5vw solid #DDA15E;
    color: #DDA15E;
  }

  .action-buttLogge2 {
    width: auto; /* Ajuste la largeur au contenu */
    padding: 8px 16px;
    border-radius: 50px;
    background-color: #DDA15E;
    border: 10px solid #BC6C25;
    color: #FDF7E8;
    font-family: 'Pompiere', cursive;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .action-buttLogge2:hover{
    background-color: #BC6C25;
    border: 10px solid #DDA15E;
    color: #DDA15E;
  }

  .flex-container {
    display: flex;
    scrollbar-width: none;
    flex-direction: row;
    gap: 50px;
  }

  .containerEmprunt {
    display: flex;
    height: auto;
    padding: 10px;
    flex-direction: row;
    width: 85%;
    background-color: #FDF7E8;
    border : 8px solid #BC6C25;
    scrollbar-width: none;
    align-items: center;
    text-align: center;
    justify-content: space-around;
  }

  .btRembourser {
    width: auto;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 40px 0px 40px;
    border-radius: 50px;           /* bouton bien arrondi */
    border-style:none;
    background-color: #DDA15E;     /* fond blanc (ou autre) */
    outline: 10px solid #BC6C25;     /* contour foncé */
    color: #FDF7E8;                /* texte foncé */
    font-size: 24px;
    font-family: 'Pompiere', cursive;
    font-weight: bold;
    cursor: pointer;
  }

  .btRembourser:hover {
    background-color: #BC6C25;
    outline: 10px solid #DDA15E;
    color: #DDA15E;
  }

  .containerBoutonPage {
    display: flex;
    scrollbar-width: none;
    flex-direction: column;
    outline: 10px solid #BC6C25;
  }
  
  .nomPage {
    width: auto;
    height: auto;
    background-color: #FDF7E8;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    text-align: center;
    overflow-y: auto;
     border-bottom : 7px solid #BC6C25;
  }

  .stock {
    width: auto;
    height: auto;
    background-color: #FDF7E8;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    overflow-y: auto;
    border-top : 7px solid #BC6C25;
  }

  .affichageBoutonRemise {
    width: auto;
    height: 108px;
    background-color: #FDF7E8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow-y: auto;
    border-top : 7px solid #BC6C25;
  }
  
  .stockBorderHalf {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 103px;
    align-items: center;
    border-right : 7px solid #BC6C25;
    width: 50%;
  }
  
  .stockLastHalf {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 103px;
    align-items: center;
    width: 50%;
  }
  
  .stockBorderThird {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 114px;
    align-items: center;
    border-right : 7px solid #BC6C25;
    width: 33%;
  }
  
  .stockLastThird {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 114px;
    align-items: center;
    width: 34%;
  }
  
  .stockBorderFourth {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right : 7px solid #BC6C25;
    width: 25%;
    justify-content: center;
  }
  
  .stockLastFourth {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    justify-content: center;
  }

  .actionAll {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    justify-content: space-around;
    text-align: center;
  }
  
  /* CADRE VOLAILLE */
  .containerVolaille {
    width: 1000px;
    background-color: #FDF7E8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2%;
    border: 8px solid #BC6C25;
    text-align: center;
    overflow-y: auto;
    min-height: 500px;
    position: static; /* Nécessaire pour superposition */
    top: 50%; /* Centre verticalement */
    left: 50%; /* Centre horizontalement */
    /*transform: translate(-50%, -50%); /* Ajuste pour centrer parfaitement */
    z-index: 10; /* Plus élevé que .background */
    margin: auto; /* Centre horizontalement et verticalement */
    scrollbar-width: none;
  }

  .grilleVolaille {
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
  
  .grilleVolaille > div {
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  .volaille {
    display: flex;
    max-width: 300px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FDF7E8;
    border: 4px solid #BC6C25;
    padding: 5px;
  }

  .statsVolaille {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    padding: 10px;
  }

  .nurserie {
    width: 1000px;
    height: 1000px;
    display: grid;
    background-color: #FDF7E8;
    grid-template-columns: auto;
    border: 8px solid #BC6C25;
    padding: 20px;
  }

  .classement-select {
    width: 75%;
    border: 4px solid #BC6C25;
    background-color: #FDF7E8;
    font-family: 'Pompiere', cursive;
    cursor: pointer;
  }

  .classement{
    width: 80%;
    height: 200px;
    background-color: #BC6C25;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow-y: auto;
    position: absolute; /* Nécessaire pour superposition */
    top: 60%; /* Centre verticalement */
    left: 50%; /* Centre horizontalement */
    transform: translate(-50%, -0%); /* Ajuste pour centrer parfaitement */
    z-index: 10; /* Plus élevé que .background */
    padding: 8px;
    gap: 8px;
    margin: auto; /* Centre horizontalement et verticalement */
  }

  .joueur{
    width: 100%;
    height: 100%;
    gap : 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow-y: auto auto auto auto auto auto auto;
    position: static; /* Nécessaire pour superposition */
    top: 50%; /* Centre verticalement */
    left: 50%; /* Centre horizontalement */
    z-index: 10; /* Plus élevé que .background */
    margin: auto; /* Centre horizontalement et verticalement */
  }

  .stats {
    width: 100%;
    height: 100%;
    font-size : 24px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #FDF7E8;
    color: #2C2624;
    justify-content: center;
    align-items: center;  
  }

/*Pour les CLAPIERS*/
  .image-cadre{
    border: 0.5vw solid #BC6C25;
    width: 85%;
    height: auto;
    display: block;
  }

  .tt-lapins {
    display: flex;
    gap: 3vw;
    margin-top: 2.5vw;
    font-weight: bold;
    font-size: 2vw;
    font-family: 'Pompiere', cursive;
    color: #2C2624;
  }

  .tt-vache {
    display: flex;
    gap: 3vw;
    margin-top: 2.5vw;
    font-weight: bold;
    font-size: 2vw;
    font-family: 'Pompiere', cursive;
    color: #2C2624;
  }

  .disp-buttC{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colonnes */
    gap: 4vw; 
    text-align: center;
    margin: 3vw;
  }

  .disp-one-buttC{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .action-buttC{
      display: flex;
      flex-direction: column; /* pour que Nourrir et 5 écus soient l'un sous l'autre */
      justify-content: center; 
      align-items: center; 

      width: 11vw;
      padding: 0.5vw;
      border-radius: 3vw;
      background-color: #DDA15E;
      border: 0.5vw solid #BC6C25;
      color: #FDF7E8;
      font-family: 'Pompiere', cursive;
      font-size: 1.5vw;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.3s ease;
  }

  .action-buttC:hover{
    background-color: #BC6C25;
    border: 0.5vw solid #DDA15E;
    color: #DDA15E;
  }

  .descriptionC{
    margin-top: 0.3vw;
    margin-bottom: 0.5vw;
    font-weight: bold;
    font-size: 2vw;
    color: #BC6C25;
  }

/* Pour le MARCHER css*/

.shop-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
  gap: 10px;
  border: 8px solid #BC6C25;
  background-color: #FDF7E8;
}

.disp-card {
  display: flex;
  flex-direction: column;
  background-color: #FDF7E8;
  grid-template-columns: auto;
  border: 5px solid #BC6C25;
  background-color: #FDF7E8;
  align-items: center;
  gap : 10px;
  padding: 20px 0px;
}

.disp-image {
  width: 11vw;
  height: auto;
  margin-left: 2vw;
  margin-right: 1vw;
  margin-bottom: 1vw;
}

.buy-shop {
  display: flex;
  gap: 0.5vw;
  margin-top: 1vw;
}

.quantity-input {
  background: #fdf7e8;
  width: 4vw;
  height: 3vh;
  margin-top: 0.5vh;
  color: #2C2624;
}

.buy-buttonM{
  width: 7vw;
  border-radius: 2vw;
  background-color: #DDA15E;
  border: 0.4vw solid #BC6C25;
  color: #FDF7E8;
  font-family: 'Pompiere', cursive;
  font-size: 1.2em;
  cursor: pointer;
  transition: all 0.3s ease;
}

.buy-buttonM:hover{
background-color: #BC6C25;
border: 0.4vw solid #DDA15E;
color: #DDA15E;
}


/*vente marche*/

.sale-container{
  background-color: #FDF7E8;
  border: 0.4vw solid #BC6C25;
  padding: 20px;
  margin: auto;
  font-family: 'Pompiere', cursive;
  text-align: center;
  margin-bottom: 30px;
}

.form-and-image {
  display: flex;
  gap: 3vw;
  justify-content: space-between;
  align-items: flex-start;
}

.left-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.dropdownV {
  width: 60%;
  position: relative;
  margin-top: 10px;
}

.dropdownV-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FDF7E8;
  border: 0.2vw solid #BC6C25;
  padding: 10px;
  cursor: pointer;
  border-radius: 6px;
}

.dropdownV-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #FDF7E8;
  border: 0.1vw solid #BC6C25;
  border-top: none;
  z-index: 10;
}

.dropdownV-item {
  padding: 0.8vw 1.2vw;
  cursor: pointer;
  color: #2C2624;
}

.dropdownV-item:hover {
  background-color: #eee;
}

.arrow {
  font-size: 1.5em;
}

.main-image {
  object-fit: contain;
  border: 0.3vw solid #BC6C25;
}

.sale-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 35%;
  margin-top: 0vh;
  margin-right: 1vw;
  justify-content: center;
}

.sale-form input {
  background: #fdf7e8;
  padding: 10px;
  font-size: 1em;
  border-radius: 2px;
  color: #2C2624;
}

  .titrePage {
    font-family: 'Pompiere', cursive;
    font-size: 64px;
    font-weight: bold;
    color: #2C2624;
  }

  .cadreCoop {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    gap: 10px;
    border: 8px solid #BC6C25;
    background-color: #FDF7E8;
  }

.cadreArticle {
    display: flex;
    flex-direction: column;
    background-color: #FDF7E8;
    grid-template-columns: auto;
    border: 5px solid #BC6C25;
    background-color: #FDF7E8;
    align-items: center;
    gap : 10px;
    padding: 20px;
  }

  .btAcheterCoop {
    width: auto;
    height: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 40px 0px 40px;
    border-radius: 50px;           /* bouton bien arrondi */
    border-style:none;
    background-color: #DDA15E;     /* fond blanc (ou autre) */
    outline: 10px solid #BC6C25;     /* contour foncé */
    color: #FDF7E8;                /* texte foncé */
    font-size: 20px;
    font-family: 'Pompiere', cursive;
    cursor: pointer;
  }

  .btAcheterCoop:hover {
    background-color: #BC6C25;
    outline: 10px solid #DDA15E;
    color: #DDA15E;
  }

  .remise-logo {
    width: 30%;
    height: auto;
    border: 8px solid #BC6C25;
    margin-bottom: 5%;
  }
